.form__header {
    margin-bottom: 35px;
}

.form__element {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.form__labelText {
    display: inline-block;
    width: 40%;
}

.form__field {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    max-width: 265px;
    border-radius: 5px;
}

.form__button {
    background-color: rgb(155, 122, 81);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 20px -4px #1e1a1a;
    transition: 0.3s;
    border: 1px solid rgb(69, 69, 69);
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(172, 135, 90);
}

.form__button:active {
    background-color: rgb(196, 154, 103);
    box-shadow: none;
}